<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>
        {% block title%}
            {{title}}
        {% endblock %}
    </title>

</head>
<body>
    <pagename>
        {% block pagename %}
            <h1>Главная страница</h1>
            <h2>{{main_comment}}</h2>
            <p></p>
        {% endblock %}
    </pagename>

    <menu>
        {% block menu %}
            <a href="/main">Главная</a>
            <p></p>
            <a href="/market">Магазин</a>
            <p></p>
            <a href="/basket">Корзина</a>
        {% endblock %}
    </menu>

    <content>
        {% block content %}
        {% endblock %}
    </content>

</body>
</html>