<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{title}}</title>
</head>
<body>
    <h1>{{market_head}}</h1>
    <p></p>
    <ul>
        <li>{{fruit_1}} <button>Купить</button></li>
        <p></p>
        <li>{{fruit_2}}    <button>Купить</button></li>
        <p></p>
        <li>{{fruit_3}}    <button>Купить</button></li>
        <p></p>
        <li>{{veget_1}}    <button>Купить</button></li>
        <p></p>
        <li>{{veget_2}}  <button>Купить</button></li>
        <p></p>
        <li>{{veget_3}} <button>Купить</button></li>
    </ul>
    <p></p>
    <a href="/main"><button>На главную</button></a>
</body>
</html>